.about {
  width: 100%;
  background-color: rgb(25, 25, 25);
}

.about__header {
  margin: 0;
  margin-left: 25px;
  padding: 20px 20px 0px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.about__info {
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
