.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(25, 25, 25);
}

.header__icon-container {
  position: relative;
}

.header__logo {
  /* position: absolute;
  top: -30px;
  left: -48px; */

  width: 200px;
  min-width: 50px;
  max-height: 50px;
  padding: 5px;
}

.header__logo:hover {
  opacity: 0.65;
  transition: opacity 0.35s;
}

@media screen and (min-width: 320px) and (max-width: 665px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
